<html lang="en" ng-app="StarterApp">
	<head>
		<meta charset="utf-8" />
		<title>ECS Task Manager</title>

		<!-- CDN stylesheets  -->
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="//fonts.googleapis.com/css?family=Hind:300,500,600" rel="stylesheet" />

		<!-- Custom Stylesheets -->
		<link rel="stylesheet" href="style.css">

	</head>
	<body layout="column" ng-controller="AppCtrl">
		
		<md-toolbar layout="row">
			<button ng-click="toggleSidenav('left')" hide-gt-md class="menuBtn">
				<span class="visually-hidden">Menu</span>
			</button>
			<h1>ECS Task Manager</h1>
		</md-toolbar>
		<div layout="row" flex>

			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
				<h2 class="menu-heading">Tasks</h2>
			</md-sidenav>

			<div layout="column" flex id="content">
				<md-content layout="column" flex class="md-padding">
					<md-list>
						<md-item ng-repeat="task in tasks">
							<md-item-content>
								<div class="md-tile-left">
									<i ng-if="task.status.running" class="fa fa-arrow-circle-up" class="status running" style="color: green; font-size: 3em;"></i>
									<i ng-if="task.status.stopped" class="fa fa-arrow-circle-down" class="status stopped" style="color: red; font-size: 3em;"></i>
								</div>
								<div class="md-tile-content">
									<h3 ng-bind="task.name"></h3>
									<h4 ng-bind="task.id"></h4>
									<p ng-bind="task.notes"></p>
								</div>
							</md-item-content>
						</md-item>
					</md-list>
				</md-content>
			</div>
		</div>

		<!-- Angular Material Dependencies -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>

		<!-- Our App -->
		<script src="app.js"></script>
	</body>
</html>
